.errorPage {
    background-image: url("../../images/errorpageImages/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    // width: 100%;


    &-box {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: left;
        max-width: 498px;

        &--title {
            color: #FFF;
            font-family: Roboto;
            font-size: 152px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            margin: 0;
            padding-top: 135px;
        }

        &--card {
            background: rgba(36, 36, 36, 0.10);
            backdrop-filter: blur(27px);
            display: flex;
            padding: 24px;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            width: 498px;

            &-title {
                color: #FFF;
                // font-family: "BBC Reith Sans";
                font-size: 51px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &-text {
                color: #FFF;
                // font-family: "BBC Reith Sans";
                font-size: 20.468px;
                font-style: normal;
                font-weight: 400;
                line-height: 30.702px;
                letter-spacing: 0.819px;
            }

            &-btn {
                border-radius: 6.396px;
                background: #F7931E;
                outline: none;
                border: none;
                color: #FFF;
                font-family: Roboto;
                font-size: 20.468px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 17px 10px 16px 10px;
                max-width: 255px;
                display: flex;
                column-gap: 30px;
                justify-content: center;
                align-items: center;
            }


        }
    }
}