.footer {
    padding: 40px 0 22px 0;

    .footer__card {
        padding: 40px 0 22px 0;

    }

    .footer__list {
        margin-left: 50px;
    }

    .footer__text {
        color: #979797;
        font-size: 13px;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 27px;
        text-align: justify;
    }

    .footer__link {
        color: #242424;
        font-family: "BBC Reith Sans";
        font-size: 18px;
        line-height: normal;
    }

    .footer__link1 {
        color: #242424;
        font-family: "BBC Reith Sans";
        font-size: 14px;
        line-height: normal;
    }

    .footer__co-text {
        color: rgba(132, 132, 131, 0.50);
        font-family: "BBC Reith Sans";
        font-size: 10px;
        line-height: normal;
        text-transform: capitalize;
    }

}

@media only screen and (max-width:1200px) {
    .footer {
        padding: 31px 0 0 31px !important;

        .footer__list {
            margin-left: 0;
        }

        .footer__card {
            display: grid !important;
            grid-template-columns: auto auto !important;
            gap: 30px !important;
        }

        .footer__text {
            margin-bottom: 47px !important;
            max-width: 340px;
        }

        .footer__co-text {
            text-align: end !important;
            margin-bottom: 15px !important;
        }
    }
}


@media only screen and (max-width:992px) {
    .footer {
        padding: 31px 0 0 31px !important;


        .footer__card {
            display: grid !important;
            grid-template-columns: auto auto !important;
            gap: 30px !important;
        }

        .footer__text {
            margin-bottom: 47px !important;
            max-width: 340px;
        }

        .footer__co-text {
            text-align: end !important;
            margin-bottom: 15px !important;
        }
    }
}

@media only screen and (max-width:768px) {
    .footer {
        padding: 31px 0 0 31px !important;


        .footer__card {
            display: grid !important;
            grid-template-columns: auto auto !important;
            gap: 30px !important;
        }

        .footer__text {
            margin-bottom: 47px !important;
            max-width: 340px;
        }

        .footer__co-text {
            text-align: end !important;
            margin-bottom: 15px !important;
        }
    }
}


@media only screen and (max-width:576px) {
    .footer {
        padding: 0 0 60px 31px !important;

        .footer__card {
            display: flex !important;
            flex-direction: column !important;
            // align-self: center;
        }

        .footer__text {
            font-family: "IBM Plex Sans";
            max-width: 310px;
            color: #979797 !important;

        }

        .footer__list {
            margin-top: 27px !important;
        }

        .footer__co-text {
            text-align: start !important;
            margin-bottom: 0 !important;
            color: rgba(132, 132, 131, 0.50) !important;
        }
    }
}

@media only screen and (max-width:376px) {
    .footer {
        padding: 0 0 60px 31px !important;

        .footer__card {
            display: flex !important;
            flex-direction: column !important;
        }

        .footer__text {
            font-family: "IBM Plex Sans";
            max-width: 310px;
            color: #979797 !important;

        }

        .footer__list {
            margin-top: 27px !important;
        }

        .footer__co-text {
            text-align: start !important;
            margin-bottom: 0 !important;
            color: rgba(132, 132, 131, 0.50) !important;
        }
    }
}