.social {
    margin-top: 20px;
    margin-bottom: 20px;

    &__name-title {
        border-left: 2px solid #F7931E;
        font-family: "BBC Reith Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        padding: 5px 10px 0px;
        margin-bottom: 11px;
    }


    &__qs-wrapper {
        background: #0081DF;
        max-height: 260px;
        padding: 30px 23px 40px;
    }

    &__qs {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);
        padding: 20px 12px 16px 16px;
    }

    &__qs-text {
        max-width: 296px;
        font-family: "BBC Reith Sans", sans-serif;
        font-size: 14px;
        margin-bottom: 0;
    }

    &__qs-title {
        font-family: "BBC Reith Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: end;
        margin-top: 34px;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 576px) {
    .social {
        margin-top: 40px;

        &__name-title {
            font-size: 14px;
        }


        &__qs-wrapper {
            padding: 0;
            max-height: 147.76px;
        }

        &__qs {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.10);
            padding: 20px 12px 16px 16px;
        }

        &__qs-inner {
            padding: 15px 28.98px 17.05px 20px !important;
        }

        .image-container {
            width: 181.858px;
        }

        &__qs-text {
            max-width: 460.328px;
        }

        &__qs-title {
            font-size: 14px;
            text-align: end;
            margin-top: 8px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .social {
        margin-top: 80px;


        &__name-title {
            font-size: 24px;
            margin-bottom: 20px;
        }


        &__qs-wrapper {
            padding: 0;
            max-height: 260px;
        }

        &__qs {
            border-radius: 25px;
            background: rgba(255, 255, 255, 0.10);
            padding: 28px 51px 30px 16px;
        }

        &__qs-inner {
            padding: 30px 45px 24px 24px !important;
        }

        .image-container {
            width: 320px;
        }

        &__qs-text {
            font-size: 24px;
            max-width: 810px;
        }

        &__qs-title {
            font-size: 24px;
            margin-top: 20px;
        }
    }
}